/*First here*/
.btn.btn-primary {
    background-color: #0070B4; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  /*Third here*/
  .btn-success {
    background-color:#3CB44B; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  /*Fouth here*/
  .btn-red {
    background-color:#E6194B; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  

  .btn.outline {
    border: 2px solid black;
    background-color: white;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Green */
.success {
    border-color: #04AA6D;
    color: green;
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .danger {
    border-color: #f44336;
    color: red
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }

  .btn.btn-primary {
    background-color: #0070B4; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn.btn-primary {
    background-color: #0070B4; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn.btn-primary {
    background-color: #0070B4; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn.btn-primary {
    background-color: #0070B4; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
